body {
    background-image: url('https://4kwallpapers.com');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
    color: white;
    /* ADD THIS LINE BELOW TO CENTER EVERYTHING */
    text-align: center;
}

a {
    color: white;
}
