body {
  background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/27248.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #333333; /* Fallback color */
}
body {
    color: white;
}
